@font-face {
    font-family: "DINPro";
    font-style: normal;
    src: url('~assets/fonts/DINPro.ttf') format('truetype');
  }

div.h1 {
    font-family: "DINPro";
    font-weight: 500;
    font-size: 38px;
    letter-spacing: 0.2em;
    color: #000;
    text-transform: uppercase;
    src: url('~assets/fonts/DINPro.ttf') format('truetype');
  }

  div.pageTitle {
    font-family: "DINPro";
    font-weight: 500;
    font-size: 71px;
    letter-spacing: 0.1em;
    color: #e32018;
    text-transform: uppercase;
  }
  
  div.h2 {
    font-family: "DINPro";
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.2em;
  
    color: #000;
    text-transform: capitalize;
  }
  
  div.h3 {
    font-family: "Letter Gothic Std";
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.18em;
  
    color: #707070;
    text-transform: uppercase;
  }
  
  div.h4 {
    font-family: "Segoe UI";
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 30px;
  
    color: #2b2b34;
  }
  
  div.h5 {
    font-family: "Segoe UI";
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.1em;
    line-height: 30px;
  
    color: #2b2b34;
  }