<template>
  <div>
    <!-- <div class="cardCustom">
      <div>
        <v-row justify="center">
          <v-col cols="3">
            <div class="h3 topBlogPostCardDate d-flex">23 March 2021</div>
          </v-col>
          <v-col cols="9">
            <v-img
              height="551"
              class="mr-3"
              src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
            ></v-img>
          </v-col>
        </v-row>

        <div class="cardDetailsContent pa-5 glassCard mx-5">
          <div class="h2">blog title</div>
          <div class="h5 mt-3">
            this topic we will be talking abouth the benefit of using vue
            framework and how it benefit the rapic prototype process, this is
            just an example data to make the paragprah look long, this is so
            good
          </div>

          <v-btn text class="mt-3" color="primary">read more </v-btn>
        </div>
      </div>
    </div> -->

    <v-card class="pa-2 mx-5 hoverCard" max-width="500">
      <v-img
        max-height="422"
        src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
      ></v-img>
      <div>
        <v-card-title class="h2">Top 10 Australian beaches</v-card-title>
        <v-card-text class="h5">
          this topic we will be talking abouth the benefit of using vue
          framework and how it benefit the rapic prototype process, this is just
          an example data to make the paragprah look long, this is so good
        </v-card-text>
      </div>
      <v-card-action>
        <v-btn text color="primary">read more</v-btn>
      </v-card-action>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    blogData: { type: Object },
  },
  data() {
    return {
      something: false,
    };
  },
};
</script>

<style>
.hoverCard:hover {
  background-color: rgba(202, 202, 202, 0.39);
  cursor: pointer;
}
.cardCustom {
  position: relative;
  max-height: 591px;
  background: #fff;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.glassCard {
  position: relative;
  top: -30px;
  background: transparent;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  /* Note: currently only Safari supports backdrop-filter */
  backdrop-filter: blur(14px);
  --webkit-backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.568);
  /* (plus shape's fill blended on top as a separate layer with 19% opacity) */
}
</style>