<template>
  <div>
    <v-card color="primary">
      <v-card-title class="h3 white--text">Index</v-card-title>
      <v-card-text class="h5 white--text">
        <v-list dense color="primary">
          <v-list-item-group v-model="selectedItem" color="white">
            <v-list-item v-for="(item, i) in items" :key="i">
              <v-list-item-icon>
                <v-icon v-text="item.icon" color="white"></v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title
                  v-text="item.text"
                  class="white--text"
                ></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-card-text>
    </v-card>

    <v-list dense>
      <v-list-item>
        <v-list-item-icon>
          <v-btn icon>
            <v-icon color="primary"> mdi-thumb-up-outline </v-icon>
          </v-btn>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>1500</v-list-item-title>
          <v-list-item-subtitle>Likes</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-icon>
          <v-btn icon>
            <v-icon color="primary"> mdi-share-variant-outline </v-icon>
          </v-btn>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>1500</v-list-item-title>
          <v-list-item-subtitle>Share Now</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-icon>
          <v-btn icon>
            <v-icon color="primary"> mdi-bookmark-plus-outline </v-icon>
          </v-btn>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>1500</v-list-item-title>
          <v-list-item-subtitle>Bookmark Now</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selectedItem: 1,
      items: [
        { text: "Real-Time", icon: "mdi-clock" },
        { text: "Audience", icon: "mdi-account" },
        { text: "Conversions", icon: "mdi-flag" },
      ],
    };
  },
};
</script>

<style scoped>
</style>