<template>
  <div class="asdf">
    <v-row class="backgroudColor">
      <v-col cols="12" lg="8" sm="12">
        <!-- <div class="landingPageText"> -->
        <!-- <div class="landingPageSubTitle mt-12"></div> -->
        <div class="landingPageTitle">GDT</div>
        <!-- </div> -->
        <object
          :data="require('@/assets/vectorBackground.svg')"
          type="image/svg+xml"
          id="something"
          width="860px"
          class="backGroundVector"
        ></object>
      </v-col>

      <v-col cols="12" lg="4" sm="12" class="redBackGround">
        <div class="latestPostContent pa-9">
          <v-card width="515" height="300" class="latestPostImage" color="grey">
          </v-card>
          <div class="latestPostText mt-5">latest post</div>
          <div class="h3 white--text my-5 ml-9">{{ blogData.topic }}</div>
          <div class="h5 white--text ml-9">
            {{ blogData.subtitle }}
          </div>
          <v-btn text class="ml-5 mt-5" dark> read more </v-btn>
        </div>
      </v-col>
    </v-row>

    <!-- <v-row>
        <div class="h2">top view</div>
      <featurePostCard></featurePostCard>
    </v-row> -->
  </div>
  <!-- <div class="redBackGround"></div> -->
</template>

<script>
// import featurePostCard from "~/components/featurePostCard.vue";
export default {
  // components: {
  //   featurePostCard,
  // },
  props: {
    blogData: { type: Object },
  },
  data() {
    return {};
  },
};
</script>

<style>
.backgroudColor{
  background: #eee;
  
}
.landingPageContent {
  height: 320%;
}
.latestPostImage {
  position: relative;
  right: 100px;
}
.latestPostContent {
  position: relative;
  top: 20%;
  z-index: 2;
}
.latestPostText {
  font-family: "DINPro";
  font-weight: 500;
  font-size: 48px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}
.landingPageFront {
  position: relative;
  height: 120%;
}

.backGroundVector {
  position: absolute;
  left: 45%;
  top: 8%;
  z-index: 1;
  opacity: 60%;
}
.landingPageText {
  position: relative;
  top: 5%;
  left: 5%;
}

.landingPageTitle {
  position: relative;
  top: 20%;
  left: 10%;
  font-family: "DINPro";
  font-weight: 500;
  font-size: 328px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #e32018;
  text-transform: uppercase;
 
  height: 900px;
}

.redBackGround {
  top: 0px;
  right: 0px;
  width: 100%;
  background: #e32018;
}
</style>