<template>
  <v-card class="pa-2 hoverCard" max-width="380" @click="goPost()">
    <v-img
      max-height="422"
      src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
    ></v-img>
    <div>
      <v-card-title class="h2" style="text-transform: uppercase; ">Top 10 Australian beaches</v-card-title>
      <v-card-subtitle class="mt-2">23 march 2020</v-card-subtitle>
      <v-card-text class="h5">
        this topic we will be talking abouth the benefit of using vue framework
        and how it benefit the rapic prototype process, this is just an example
        data to make the paragprah look long, this is so good
      </v-card-text>
    </div>
    <v-card-action>
      <v-btn outlined color="primary" class="ml-3 mb-3">read more</v-btn>
    </v-card-action>
  </v-card>
</template>

<script>
export default {
  // props: {
  //   blogData: { type: Object },
  // },
  data() {
    return {
      something: false,
    };
  },
  methods:{
    goPost(){
    this.$router.push(this.$route.path + "/asdf")
    
    }
  }
};
</script>

<style>
.hoverCard:hover {
  background-color: rgba(202, 202, 202, 0.39);
  cursor: pointer;
}
.cardCustom {
  position: relative;
  max-height: 591px;
  background: #fff;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.glassCard {
  position: relative;
  top: -30px;
  background: transparent;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  /* Note: currently only Safari supports backdrop-filter */
  backdrop-filter: blur(14px);
  --webkit-backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.568);
  /* (plus shape's fill blended on top as a separate layer with 19% opacity) */
}
</style>