<template>
  <div class="viewPageBody">
    <v-row class="mt-9" align="center">
      <div class="h3 primary--text">23 March 2020</div>
      <v-divider class="ml-3"></v-divider>
    </v-row>

    <v-row justify="start">
      <v-col cols="3" v-for="n in 6" key="n">
        <postCard class="mt-4" ></postCard>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import postCard from "~/components/postCard.vue";
export default {
  components: {
    postCard,
  },
  props: {
    blogData: { type: Object },
  },
  data() {
    return {
      something: false,
    };
  },
};
</script>

<style>
.cardCustom {
  position: relative;
  max-height: 591px;
  background: #fff;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.glassCard {
  position: relative;
  top: -30px;
  background: transparent;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  /* Note: currently only Safari supports backdrop-filter */
  backdrop-filter: blur(14px);
  --webkit-backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.568);
  /* (plus shape's fill blended on top as a separate layer with 19% opacity) */
}
</style>