<template>
  <v-app-bar app color="transparent" flat>
    <v-app-bar-nav-icon
      @click.prevent="$emit('sideNavToggle')"
      color="black"
    ></v-app-bar-nav-icon>

    <v-toolbar-title>
      <div class="companyName" @click="home()">gamuda</div>

      <div class="companySubtitle">digital transformation</div>
    </v-toolbar-title>

    <v-spacer></v-spacer>
    <v-col cols="5">
      <v-text-field
        label="Solo"
        solo
        rounded
        prepend-inner-icon="mdi-magnify"
        dense
        class="mt-7 mr-4"
      ></v-text-field>
    </v-col>
  </v-app-bar>
</template>

<script>
export default {
  name: "AppBar",
  computed: {
    isAuthenticated() {
      return this.$store.getters["user/isAuthenticated"];
    },
  },
  methods: {
    logout() {
      this.$store.dispatch("user/logout").then(() => {
        this.$router.push("login");
      });
    },

    home() {
      this.$router.push("/");
    },
  },
};
</script>

<style>
.companyName {
  font-family: "DINPro";
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.2em;
  text-align: left;
  color: #e32018;
  text-transform: uppercase;
}

.companyName:hover {
  cursor: pointer;
  text-shadow: 2px 2px #e6e6e6;
}

.companySubtitle {
  font-family: "DINPro";
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: left;
  color: #000;
  text-transform: uppercase;
}
</style>
