<template>
  <v-navigation-drawer
    app
    v-bind:value="value"
    v-on:input="$emit('input', $event)"
    color="primary "
    temporary
    width="450"
  >
    <v-list-item class="my-12 mr-5 pt-14">
      <!-- <v-list-item-avatar>
        <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
      </v-list-item-avatar>

      <v-list-item-content>
        <v-list-item-title>John Leider</v-list-item-title>
      </v-list-item-content> -->
      <v-list-item-title class="h1 white--text text-right">
        <!-- <v-btn icon @click="!drawer">
          <v-icon color="white" x-large>mdi-arrow-left-drop-circle</v-icon>
        </v-btn> -->
        Navigation
      </v-list-item-title>

      <!-- <div class="h1 white--text text-center">Navigation</div> -->
    </v-list-item>

    <v-list class="mt-9 mr-5">
      <v-list-item-group v-model="selectedItem" color="dark">
        <v-list-item v-for="item in items" :key="item.title" :to="item.to" link>
          <v-list-item-content>
            <v-list-item-title class="h3 white--text text-right">{{
              item.title
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      drawer: false,
      selectedItem: 1,
      items: [
        { title: "home", to: "/" },
        { title: "Video Tutorial", to: "/videoTutorial" },
        { title: "Newsletter", to: "/newsletter" },
        { title: "Blog", to: "/blog" },
      ],
    };
  },
};
</script>

<style scoped>
</style>
