<template>
  <div>
    <v-row justify="center">
      <v-col cols="8">
        <div class="pageTitle black--text">blog title</div>
        <div>Dec 22,2021</div>

        <v-img
          lazy-src="https://picsum.photos/id/11/10/6"
          max-height="650"
          src="https://picsum.photos/id/11/500/300"
          class="my-9"
        ></v-img>

        <div class="h1">Title</div>
        <div class="h3">subtitle</div>

        <div class="h4 my-9">
          lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. at vero eos et accusam et justo duo dolores et ea
          rebum. stet clita kasd gubergren, no sea takimata sanctus est lorem
          ipsum dolor sit amet. lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. at vero eos et accusam
          et justo duo dolores et ea rebum. stet clita kasd gubergren, no sea
          takimata sanctus est lorem ipsum dolor sit amet. lorem ipsum dolor sit
          amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          at vero eos et accusam et justo duo dolores et ea rebum. stet clita
          kasd gubergren, no sea takimata sanctus est lorem ipsum dolor sit
          amet. lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
          diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          erat, sed diam voluptua. at vero eos et accusam et justo duo dolores
          et ea rebum. stet clita kasd gubergren, no sea takimata sanctus est
          lorem ipsum dolor sit amet.
        </div>

        <v-row align="center" justify="center" class="mt-12">
          <v-col cols="3" v-for="n in 3" :key="n">
            <div class="text-center">
              <v-icon size="100" color="primary">mdi-speedometer</v-icon>
            </div>
            <div class="text-center h3 primary--text mt-4">problem</div>
            <div class="text-center h4 mt-2">
              lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor
            </div>
          </v-col>
        </v-row>

        <div class="h4 my-9">
          met. lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. at vero eos et accusam et justo duo dolores et ea
          rebum. stet cl
        </div>
      </v-col>
    </v-row>
    <floatingIndexCard class="floatCard"></floatingIndexCard>
  </div>
</template>

<script>
import floatingIndexCard from "~/components/floatingIndexCard.vue";
export default {
  components: {
    floatingIndexCard,
  },
  data() {
    return {};
  },
};
</script>

<style>
.floatCard {
  position: fixed;
  top: 110px;
  left: 70px;
  width: 10%;
}
</style>