// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@font-face {
    font-family: "DINPro";
    font-style: normal;
    src: url('~assets/fonts/DINPro.ttf') format('truetype');
  }

  html {
    font-family: "DINPro";
}