<template>
  <v-app>
    <SideNavBar v-model="drawer" />
    <AppBar @sideNavToggle="toggleSideBar" />

    <!-- Sizes your content based upon application components -->
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-main>

    <Footer />
  </v-app>
</template>

<script>
import AppBar from "~/components/AppComponents/AppBar.vue";
import SideNavBar from "~/components/AppComponents/SideNavBar.vue";
import Footer from "~/components/AppComponents/Footer.vue";
export default {
  components: {
    AppBar,
    SideNavBar,
    Footer,
  },
  data() {
    return {
      drawer: false,
    };
  },
  methods: {
    toggleSideBar() {
      this.drawer = !this.drawer;
      console.log(this.drawer);
    },
  },
};
</script>


<style>
.container {
    width: 100%;
    /* padding: 12px; */
    margin-right: auto;
    margin-left: auto;
}

/* call global css step
1) creat css file in assest folder 
2) go nuxt.config.js, at the css array they call the css file 

    example  

    css: [
    "~assets/layouts/global.css",
  ],

3) import font in css folder 
4) done 
*/
</style>