<template>
  <div class="body">
    <landingPage :blogData="blog" class="landingPageComponent"></landingPage>
   

    <v-row align="center" justify="center" class="topViewPostBody">
      <v-col cols="4">
        <div class="h1 text-center">Top View Post</div>
        <div class="text-center">
          <v-btn text color="primary"> view all post </v-btn>
        </div>
      </v-col>
      <v-col cols="8" class="mt-5">
        <horizontal-scroll class="horizontal-scroll">
          <featurePostCard v-for="n in 5" key="n"></featurePostCard>
        </horizontal-scroll>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import landingPage from "~/components/landingPage.vue";
import featurePostCard from "~/components/featurePostCard.vue";
import HorizontalScroll from "vue-horizontal-scroll";
import "vue-horizontal-scroll/dist/vue-horizontal-scroll.css";
export default {
  components: {
    landingPage,
    featurePostCard,
    HorizontalScroll,
  },
  data() {
    return {
      blog: {
        topic: "Vue.JS - Pros and Cons",
        subtitle:
          "this topic we will be talking abouth the benefit of using vue framework and how it benefit the rapic prototype process, this is just an example data to make the paragprah look long, this is so good",
      },
    };
  },
};
</script>

<style>
.horizontal-scroll {
  display: flex;
  width: 100%;
  height: 100%;
}
.body {
  position: relative;
  top: -80px;
}

.topViewPostBody {
  background: white;
}

/* .landingPageComponent { 
  height: 1800px;
} */
</style>
