<template>
  <div class="ml-5 mx-12 px-12 mt-5">
    <v-row align="center">
      <div class="pageTitle">Latest News</div>
      <v-spacer> </v-spacer>

      <v-btn-toggle v-model="text" tile color="primary" group>
        <v-btn value="left" class="h3" x-large> Technology </v-btn>

        <v-btn value="center" class="h3" x-large> business </v-btn>

        <v-btn value="right" class="h3" x-large> others </v-btn>
      </v-btn-toggle>
    </v-row>

    <viewPage v-for="n in 3" key="n" class="mb-12"></viewPage>
  </div>
</template>

<script>
import viewPage from "~/components/viewPage.vue";
export default {
  components: {
    viewPage,
  },
  data() {
    return {
      text: null,
    };
  },
};
</script>

<style scoped>
</style>